<p-card header="Ajouter un jeu" [style]="{width: '360px', margin: '10% auto 0 auto'}" styleClass="p-card-shadow">
  <form [formGroup]="formulaire">

    <div class="p-formgroup">
      <div class="p-field">
        <input id="nom" type="text" pInputText placeholder="Nom" formControlName="nom" class="input-taille">
        <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="mat-error">
          <div *ngIf="nom?.errors.required" style="color: crimson">Le nom est obligatoire</div>
          <div *ngIf="nom?.errors.minlength" style="color: crimson">Le nom doit comporter au moins 10 caractères</div>
          <div *ngIf="nom?.errors.maxlength" style="color: crimson">Le nom peut comporter au maximum </div>
        </div>
      </div>
    </div>

    <div class="p-formgroup">
      <div class="p-field">
        <input id="description" type="text" pInputText placeholder="Description" formControlName="description" class="input-taille">
      </div>
    </div>

    <div class="p-formgroup">
      <div class="p-field">
        <input id="theme" type="text" pInputText placeholder="Thème" formControlName="theme" class="input-taille">
      </div>
    </div>

    <div class="p-formgroup">
      <div class="p-field">
        <input id="editeur" type="text" pInputText placeholder="Éditeur" formControlName="editeur" class="input-taille">
      </div>
    </div>

    <div class="p-formgroup">
      <div class="p-field">
        <input id="mecanique" type="text" pInputText placeholder="Mécanique" formControlName="mecanique" class="input-taille">
      </div>
    </div>

    <div class="p-formgroup">
      <div class="p-field">
        <input id="url_media" type="text" pInputText placeholder="Url_media" formControlName="url_media" class="input-taille">
      </div>
    </div>
    <img [src]="'assets/jeux.jpg'" class="config-image"/>

    <div class="p-formgroup">
      <div class="p-field">
        <input id="categorie" type="text" pInputText placeholder="Catégorie" formControlName="categorie" class="input-taille">
      </div>
    </div>

    <div class="p-formgroup">
      <div class="p-field">
        <input id="regles" type="text" pInputText placeholder="Règles" formControlName="regles" class="input-taille">
      </div>
    </div>

    <div class="p-formgroup">
      <div class="p-field">
        <input id="langue" type="text" pInputText placeholder="Langue" formControlName="langue" class="input-taille">
      </div>
    </div>

    <div class="p-formgroup">
      <div class="p-field">
        <input id="nombrejoueurs" type="number" pInputText placeholder="Nombre de joueur" formControlName="nombrejoueurs" class="input-taille">
        <div *ngIf="nombrejoueurs.invalid && (nombrejoueurs.dirty || nombrejoueurs.touched)" class="mat-error">
          <div *ngIf="nombrejoueurs?.errors.pattern" style="color: crimson">Le nombre de joueurs ne peut être compris qu'entre 2 et 8</div>
        </div>
      </div>
    </div>

    <div class="p-formgroup">
      <div class="p-field">
        <input id="ageminimum" type="number" pInputText placeholder="Age minimum" formControlName="ageminimum" class="input-taille">
        <div *ngIf="ageminimum.invalid && (ageminimum.dirty || ageminimum.touched)" class="mat-error">
          <div *ngIf="ageminimum?.errors.pattern" style="color: crimson">L'age minimum ne peut être compris qu'entre 1 et 16</div>
        </div>
      </div>
    </div>


    <div class="p-formgroup">
      <div class="p-field">
        <input id="poids" type="text" pInputText placeholder="Poids" formControlName="poid" class="input-taille">
        <div *ngIf="poids.invalid && (poids.dirty || poids.touched)" class="mat-error">
          <div *ngIf="poids?.errors.pattern" style="color: crimson">Le poids ne peut être compris qu'entre 0.100 et 5.00 kg</div>
        </div>
      </div>
    </div>

    <div class="p-formgroup">
      <div class="p-field">
        <input id="duree" type="time" pInputText placeholder="Duree" formControlName="duree" class="input-taille">
      </div>
    </div>




    <button type="submit" class="config-bouton">Valide</button>
  </form>
</p-card>



