<style>
  body { font-family: "RobotoRegular",Helvetica,Arial,sans-serif; font-size: 14px; margin: 0; }
  my-app { display: block; box-sizing: border-box; padding: 30px; }
  my-app > .k-icon.k-i-loading { font-size: 64px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
  .example-wrapper p, .example-col p { margin: 0 0 10px; }
  .example-wrapper p:first-child, .example-col p:first-child { margin-top: 0; }
  .event-log li {margin: 0; padding: .3em; line-height: 1.2em; border-bottom: 1px solid rgba(0,0,0,.08); }
  .event-log li:last-child { margin-bottom: -1px;}
</style>

<p-card *ngIf="!loading" header="{{gameDetails.nom}}"  [style]="{width: '360px', margin: '10% auto 0 auto'}" styleClass="p-card-shadow">

  <img [src]="'assets/jeux.jpg'" [alt]="'jeu'" class="config-image"/>

  <h2>Description</h2>

  <p>{{gameDetails.description}}</p>

  <h2>Règles</h2>

  <p>{{gameDetails.regles}}</p>

  <h2>Détails</h2>

  <table>
    <tr>
      <td>Langue</td>
      <td>{{gameDetails.langue}}</td>
    </tr>
    <tr>
      <td>Âge minimum</td>
      <td>{{gameDetails.age}}</td>
    </tr>
    <tr>
      <td>Nombre de joueurs</td>
      <td>{{gameDetails.nombre_joueurs}}</td>
    </tr>
    <tr>
      <td>Durée</td>
      <td>{{gameDetails.duree}}</td>
    </tr>
    <tr>
      <td>Thème</td>
      <td>{{gameDetails.theme_id.nom}}</td>
    </tr>
    <tr>
      <td>Catégorie</td>
      <td>{{gameDetails.categorie}}</td>
    </tr>
    <tr>
      <td>Éditeur</td>
      <td>{{gameDetails.editeur_id.nom}}</td>
    </tr>
    <tr>
      <td>Poids</td>
      <td>{{gameDetails.poids}}</td>
    </tr>
  </table>
</p-card>

<p-card *ngIf="!loading"  [style]="{width: '760px', margin: '1% auto 0 auto'}" styleClass="p-card-shadow">
  <h1>Commentaire & note du jeu</h1>
  <form [formGroup]="formulaire">
    <div class="p-formgroup">
      <div class="p-field">
        <input id="commentaire" type="text" pInputText placeholder="Commentaire" formControlName="commentaire" class="input-taille">
      </div>
    </div>
  </form>
</p-card>


<!--
<p>{{gameDetails.id}}</p>
<p>{{gameDetails.nom}}</p>
<p>{{gameDetails.description}}</p>
<p>{{gameDetails.regles}}</p>
<p>{{gameDetails.langue}}</p>
<p>{{gameDetails.url_media}}</p>
<p>{{gameDetails.age}}</p>
<p>{{gameDetails.poids}}</p>
<p>{{gameDetails.nombre_joueurs}}</p>
<p>{{gameDetails.categorie}}</p>
<p>{{gameDetails.duree}}</p>
<p>{{gameDetails.user_id.id}}</p>
<p>{{gameDetails.user_id.nom}}</p>
<p>{{gameDetails.user_id.prenom}}</p>
<p>{{gameDetails.user_id.pseudo}}</p>
<p>{{gameDetails.user_id.email}}</p>
<p>{{gameDetails.user_id.email_verified_at}}</p>
<p>{{gameDetails.user_id.created_at}}</p>
<p>{{gameDetails.user_id.updated_at}}</p>
<p>{{gameDetails.theme_id.id}}</p>
<p>{{gameDetails.theme_id.nom}}</p>
<p>{{gameDetails.editeur_id.id}}</p>
<p>{{gameDetails.editeur_id.nom}}</p>
<p>{{gameDetails.commentaires}}</p>
<p>{{gameDetails.statistiques.noteMax}}</p>
<p>{{gameDetails.statistiques.noteMin}}</p>
<p>{{gameDetails.statistiques.noteMoyenne}}</p>
<p>{{gameDetails.statistiques.nbCommentaires}}</p>
<p>{{gameDetails.statistiques.nbCommentairesTotal}}</p>
<p>{{gameDetails.statistiques.rang}}</p>
<p>{{gameDetails.statistiques.nbJeuxTheme}}</p>
<p>{{gameDetails.tarif.prixMax}}</p>
<p>{{gameDetails.tarif.prixMin}}</p>
<p>{{gameDetails.tarif.prixMoyen}}</p>
<p>{{gameDetails.tarif.nbAchats}}</p>
-->
