<p-card header="Ajouter un utilisateur" [style]="{width: '360px', margin: '10% auto 0 auto'}" styleClass="p-card-shadow">
  <form [formGroup]="formulaire">
    <div class="p-formgroup">
      <div class="p-field">
        <input id="nom" type="text" pInputText placeholder="Nom" formControlName="nom" class="input-taille">
        <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="mat-error">
          <div *ngIf="nom?.errors.required" style="color: crimson">Le nom est obligatoire</div>
          <div *ngIf="nom?.errors.minlength" style="color: crimson">Le nom doit comporter au moins 2 caracteres</div>
          <div *ngIf="nom?.errors.nomInvalid" style="color: crimson">Le nom est invalide</div>
        </div>
      </div>
    </div>
    <div class="p-formgroup">
      <div class="p-field">
        <input id="prenom" type="text" pInputText placeholder="Prenom" formControlName="prenom" class="input-taille">
        <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="mat-error">
          <div *ngIf="prenom?.errors.required" style="color: crimson">Le prenom est obligatoire</div>
          <div *ngIf="prenom?.errors.minlength" style="color: crimson">Le prenom doit comporter au moins 2 caracteres
          </div>
          <div *ngIf="prenom?.errors.nomInvalid" style="color: crimson">Le prenom est invalide</div>
        </div>
      </div>
    </div>
    <div class="p-formgroup">
      <div class="p-field">
        <input id="pseudo" type="text" pInputText placeholder="Pseudo" formControlName="pseudo" class="input-taille">
        <div *ngIf="pseudo.invalid && (pseudo.dirty || pseudo.touched)" class="mat-error">
          <div *ngIf="pseudo?.errors.required" style="color: crimson">Le pseudo est obligatoire</div>
          <div *ngIf="pseudo?.errors.minlength" style="color: crimson">Le pseudo doit comporter au moins 2 caracteres
          </div>
          <div *ngIf="pseudo?.errors.nomInvalid" style="color: crimson">Le pseudo est invalide</div>
        </div>
      </div>
    </div>
    <div class="p-formgroup">
      <div class="p-field">
        <input id="mail" type="text" pInputText placeholder="Mail" formControlName="mail" class="input-taille">
        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="mat-error">
          <div *ngIf="mail?.errors.required" style="color: crimson">Le mail est obligatoire</div>
          <div *ngIf="mail?.errors.nomInvalid" style="color: crimson">Le mail est invalide</div>
        </div>
      </div>
    </div>
    <div formGroupName="password">
      <div class="p-formgroup">
        <div class="p-field">
          <input id="pwd" type="text" pInputText placeholder="Mot de passe" formControlName="pwd" class="input-taille">
          <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="mat-error">
            <div *ngIf="pwd?.errors.required" style="color: crimson">Le mot de passe est obligatoire</div>
            <div *ngIf="pwd?.errors.nomInvalid" style="color: crimson">Le mot de passe est invalide</div>
          </div>
        </div>
      </div>
      <div class="p-formgroup">
        <div class="p-field">
          <input id="passwordconfirm" type="text" pInputText placeholder="Confirmez le mot de passe"
                 formControlName="passwordconfirm" class="input-taille">
          <div *ngIf="passwordconfirm.invalid && (pwd.dirty || passwordconfirm.touched)" class="mat-error">
            <div *ngIf="passwordconfirm?.errors.required" style="color: crimson">La confirmation est obligatoire</div>
          </div>
        </div>
      </div>
      <div *ngIf="!password.valid" style="color: crimson">Le mot de passe n'est pas identique</div>
    </div>

    <button type="submit" class="config-bouton">Valide</button>
  </form>
</p-card>
